@import '~bpk-mixins';
@import '~bpk-mixins/index';

.bpk-btn {
  @include bpk-button;
}

.Trip {
  &__main {
    background-color: #FFFFFF;
    padding: $bpk-spacing-sm;
    margin-bottom: $bpk-spacing-sm;
    border-radius: 10px;
  }

  &__priceText {
    font-size: 180%;
  }

  &__agentText {
    font-size: 80%;
    color: #9A95A6;
  }
  
  &__priceContainer {
    margin-top: $bpk-spacing-md;
  }
}
